* {
    box-sizing: border-box;
    word-spacing: 2px;
    padding: 0;
    margin: 0;

}

body {
    /* background-color: #273549;*/
    background-image: url(./bg.jpg);
    /*text-align: center;*/

    padding-left: 80px;

    font-family: 'Segoe UI', 'Consolas', sans-serif;
    font-style: italic;

    box-sizing: auto;
}

h1 {
    text-align: center;
    color: lightblue;
    font-size: 20px;

    padding: 0;
}

.box1 {
    text-align: left;

    width: 550px;
    height: 580px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);

    margin: auto;

    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 50px;
}

.tag1 {

    text-align: center;
    color: lightblue;

    font-weight: bolder;
    font-size: 30px;
}

.tag2 {
    text-align: center;
    color: rgb(122, 203, 157);

    font-weight: bolder;
    font-size: 30px;
}

.tag3 {
    text-align: center;
    color: lightblue;

    padding-top: 15px;

    font-size: 20px;
    font-weight: bolder;
}

#button {
    margin-left: 78px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 270px;
    height: 65px;

    border-radius: 12px;

    background-color: rgb(122, 203, 157);
    color: black;
    box-shadow: 1px 1px 17px lightblue;

    font-size: 25px;
    font-style: italic;
    font-family: 'Segoe UI', 'Consolas', serif;
    font-weight: bolder;

    border: none;

    cursor: pointer;
}

#button:hover {
    transition: 1s;
    background-color: rgb(225, 238, 105);
}

#button:active {
    transition: 0.6s;
    transform: translateY(7px);
}

#line {
    opacity: .3;
}

.pwd {
    color: lightblue;
    font-size: x-large;
}

#field {
    word-spacing: 5px;
    margin-left: auto;
    color: rgb(122, 203, 157);

    font-family: 'Segoe UI', 'Consolas', serif;
    font-size: 20px;
    font-weight: bolder;
}

#inst {
    color: lightblue;
    text-align: center;

    font-size: larger;
    font-weight: bolder;
    word-spacing: 3px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.git-link {

    color: white;

    font-family: 'Consolas', sans-serif;
    font-size: larger;

    transition: 0.3s;
}