* {
    box-sizing: border-box;
    word-spacing: 2px;
}

body {
    background-color: #273549;
    /*text-align: center;*/

    padding-left: 80px;

    font-family: 'Segoe UI', 'Consolas';
    font-style: italic;
}

h1 {
    text-align: center;
    color: white;
    font-size: 25px;
}

.box1 {
    text-align: left;

    width: 510px;
    height: 600px;
    border: 1px double whitesmoke;
    border-radius: 30px;
    box-shadow: 0 0 12px rgb(225, 238, 105);

    margin: auto;
    padding-top: 25px;
    padding-bottom: auto;
    padding-left: 45px;
    padding-right: 45px;
}

.tag1 {
    color: white;

    font-weight: bolder;
    font-size: 30px;
}

.tag2 {
    color: rgb(79, 176, 79);

    font-weight: bolder;
    font-size: 30px;
}

.tag3 {
    color: white;

    padding-top: 15px;

    font-size: 20px;
    font-weight: bolder;
}

#button {
    margin-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 270px;
    height: 65px;

    border-radius: 12px;

    background-color: rgb(79, 176, 79);
    color: white;
    box-shadow: 0 0 12px rgb(225, 238, 105);

    font-size: 25px;
    font-style: italic;
    font-family: 'Segoe UI', 'Consolas';
    font-weight: bolder;

    border: none;

    cursor: pointer;
}

#button:hover {
    transition: 1s;
    color: black;
    background-color: rgb(225, 238, 105);
    box-shadow: 0 0 32px rgb(79, 176, 79);
}

#button:active {
    transition: 0.4s;
    transform: translateY(7px);
}

#line {
    opacity: .3;
}

.pwd {
    color: white;
    font-size: x-large;
}

#field {
    margin-left: auto;
    color: rgb(58, 181, 58);

    font-family: 'Segoe UI', 'Consolas';
    font-size: 20px;
    font-weight: bolder;
}

